* {
    background-image: url("/images/photos_raph/easter-egg.jpg");
}


.slider-eg {
    width: 80%;
    margin: auto;
    padding: 50px;
}


.img-slider-eg img{
    max-width: 100%;
    max-height: 500px;
    border-radius: 40px;
    margin-left: 33%;
    display: none;
}


.img-slider-eg img.active {
    display: block;
    animation: fade 1s;
}


@keyframes fade {
    from {
        opacity: 0.75;
    }
    to {
        opacity: 1;
    }
}


.slider-button-eg img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    position: absolute;
    display: flex;
    cursor: pointer;
}


.slider-button-eg.dark img {
    filter: brightness(0) invert(1); /* change l'image en noir et blanc */
}


.button-right-eg {
    margin-left: 51%; /* permet de centrer l'élément (plus ou moins) */
}


.button-left-eg {
    margin-left: 47%; /* permet de centrer l'élément (plus ou moins) */
}