.container h1 {
    text-align: center;
    margin: 50px; /* margin-top a 50px */
}


ol {
    padding: 20px;
}


ol li {
    padding: 6px;
    font-size: 1.25rem; /* taille de la police a 1.25rem */
}


li a {
    text-decoration: none; /* enleve le soulignement du lien */
    color: #000;
}


li a:hover {
    color: #000;
    text-decoration: underline; /* ajoute un soulignement au lien */
}


.ressources {
    margin: 30px; /* margin a 30px */
}


.ressources h2 {
    padding: 15px;
}


.ressources li {
    padding: 15px;
}


.equipe {
    margin: 30px;
}


.member {
    display: flex; /* affiche en flex */
    align-items: center; /* aligne les elements au centre */
    justify-content: space-around; /* aligne les elements a l'espace entre les elements */
}


.member .card {
    margin: 25px;
}


.member .title {
    text-align: center; /* aligne le texte au centre */
    margin: 5px;
}


.member .card img {
    width: 300px; /* largeur a 300px */
    height: 300px;
    border-radius: 50%;
    background-color: #d8d8d8; /* couleur de fond a #d8d8d8 */
    display: flex; /* affiche en flex */
    align-items: center; /* aligne les elements au centre */
    justify-content: center; /* aligne les espaces entre eux au centre */
    margin: 20px;
}