:root {
    --background-footer-color: #334387;
}


* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Noto, sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #fefefe;
}


header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-logo {
    margin: 0 0 0 20px;
    height: 40px;
}


.navbar {
    display: flex;
    align-items: center;
}


.search {
    display: flex;
    align-items: center;
}


.search input {
    border: solid 2px #aaaa;
    border-radius: 40px 0 0 40px;
    padding: 10px 15px;
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    width: 500px;
}


.search input:focus{
	border-color: #333;
    -webkit-box-shadow: none;
	box-shadow: none;
}


.loupe button {
    border-radius: 0 40px 40px 0;
    border: solid 2px #aaaa;
    border-left: none;
    padding: 8px 0;
    cursor: pointer;
}


.search img {
    height: 19.5px;
    padding: 1px 15px;
}


.tooltip-loupe {
    font-size: 12px;
    position: absolute;
    display: flex;
    background-color: rgb(220, 220, 220);
    width: auto;
    padding: 10px;
    border-radius: 10px;
    color: #333;
    opacity: 0;
    pointer-events: none;
}


.loupe:hover .tooltip-loupe {
    opacity: 1;
    transition: ease-in-out all 0.2s;
}


.panier img {
    margin: 0 0 0 20px;
    height: 30px;
    width: 30px;
}


.tooltip-panier {
    font-size: 12px;
    position: absolute;
    display: flex;
    background-color: rgba(220, 220, 220);
    width: auto;
    padding: 10px;
    border-radius: 10px;
    color: #333;
    opacity: 0;
    pointer-events: none;
}


.panier:hover .tooltip-panier {
    opacity: 1;
    transition: ease-in-out all 0.2s;
}


.hamburger {
    cursor: pointer;
}


.hamburger .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 30px;
}


.hamburger.active .line:nth-child(2) {
    opacity: 0;
}


.hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(135deg);
    transition: all 0.3s ease-in-out;
}


.hamburger.active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-135deg);
    transition: all 0.3s ease-in-out;
}


.menu {
    text-align: center;
    display: none;
}


.menu h1 {
    margin: 30px;
}


.menu .armes {
    display: flex;
    justify-content: center;
}


.menu .card {
    margin: 0 20px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
    flex-wrap: wrap;
}


.menu .card:hover {
    transform: translateY(-10px);
    transition: all 0.1s ease-in-out;
}


.menu a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.menu img {
    width: 200px;
    height: 150px; 
}


.menu.active {
    display: block;
    transform: ease-in 0.5s;
}


.container.hidden {
    display: none;
}


#promotion {
    background-color: red;
    color: #fff;
    font-size: 16px;
    padding: 5px
}

.banner {
    position: relative;
    width: 100%;
    height: 470px;
}


.fond-banner {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 500px;
    width: 100%;
    height: 500px;
}


.text-banner {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-family: Roboto, Noto, sans-serif;
    font-size: 50px;
    margin: 75px;
}


.banner button {
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 217, 0);
    border: solid 2px rgb(255, 217, 0);
    border-radius: 40px;
    padding: 10px;
    font-family: Roboto, Noto, sans-serif;
    font-size: 20px;
    margin-top: 330px;
    margin-left: 120px;
    cursor: pointer;
}


.AWP-banner {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-top: 7%;
    margin-left: 45%;
}


.karambit-banner {
    position: absolute;
    z-index: 1;
    width: 25%;
    margin-top: 300px;
    margin-left: 500px;
}


.asiimov-banner {
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-top: 330px;
    margin-left: 950px;
}


.slider {
    max-width: 800px;
    margin-top: 400px;
    padding: 50px;
}


.img-slider img{
    max-width: 100%;
    display: none;
}


.img-slider img.active {
    display: block;
    animation: fade O.8s;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.slider-button {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
}


.nav-right {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}


.nav-left {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}


footer {
    background-color: var(--background-footer-color);
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
    padding: 30px 20px 10px 20px;
}


.footer-icons {
    filter: brightness(0) invert(1);
    height: 25px;
    width: 25px;
    margin: 0 8px;
}